{% extends "base.html" %}

{% load i18n staticfiles %}


{% block title %}{{ episode.title }} &#183; {{ block.super }}{% endblock %}
{% block addtohead %}
<link href="{% static 'assets/css/buttons.css' %}" rel="stylesheet" />
<link href="{% static 'assets/css/style-ext.css' %}" rel="stylesheet" />
<link href="{% static 'assets/css/bootstrap-player.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="row color-white top2">
<div class="col-md-7 col-md-offset-1" >
    {% if not podcast_singular %}
    <a href="{% url 'podcast:show_list' %}">{% trans 'Podcasts' %}</a>
    {% endif %}
<a class="btn btn-purple" href="{{ episode.show.get_absolute_url }}"><i aria-hidden="true" class="fa fa-home fa-lg"></i> {{ episode.show.title }}</a>
</div>
</div>
<div class="row color-white top2">
<div class="col-md-7 col-md-offset-1" >
<h1>{{ episode.title }}</h1>
<p><time datetime="{{ episode.pub_date|date:'c' }}" title="{{ episode.pub_date|date:'c' }}">{{ episode.pub_date|date:'j F Y' }}</time></p>
{% if episode.description %}
<p class="lead">{{ episode.description|safe }}</p>
{% endif %}
</div>
<div class="col-md-4">
    <p><a href="{{ episode.show.get_image_url }}"><img class="img-responsive" src="{{ episode.show.get_image_url }}" alt="{{ episode.title }} artwork" width="300"></a></p>
</div>
</div>
<!-- <p>{% trans 'Episode'%} {{ episode.index }}</p> -->
<div class="row color-white">
    <div class="col-md-11 col-md-offset-1">
        <ul class="list-inline"><li class="">Hosts:</li>
        {% for h in episode.hosts.all %}
        <li class="">{{h}}</li>
        {% endfor %}
    </ul>
    </div>
</div>


{% if episode.enclosure %}
<div class="row color-white">
<div class="col-md-7 col-md-offset-1" >
        <h3>Listen here!</h3>
{% with enclosure=episode.enclosure %}

    {# Audio #}
    {% if enclosure.type == 'audio/mpeg' or enclosure.type == 'audio/x-m4a' %}
    <audio controls>
        <source src="{{ enclosure.file.url }}" type="audio/mpeg" />
    </audio>

    {# Video #}
    {% elif enclosure.type == 'video/mp4' or enclosure.type == 'video/x-m4v' or enclosure.type == 'video/quicktime' %}
    <video poster="{{ enclosure.get_poster_url }}" controls>
        <source src="{{ enclosure.file.url }}" type="{{ enclosure.type }}">
        <p><a href="{{ enclosure.file.url }}">{% trans 'Download the video' %}</a>.</p>
    </video>
    <p>{{ enclosure.get_duration }}</p>
    {% endif %}

    <a class="btn btn-purple" href="{{ enclosure.file.url }}" download>
		<i aria-hidden="true" class="fa fa-cloud-download fa-lg"></i> {% trans 'Download the' %} {{ enclosure.get_megabytes }} {% trans 'MB' %} {{ enclosure.get_type_display }}
	</a>

{% endwith %}
</div></div>
{% endif %}




<div class="row color-white">
    <div class="col-md-11 col-md-offset-1">
<h2>{% trans 'Subscribe' %}</h2>

<p>{% if episode.show.itunes %}<a href="{{ episode.show.itunes }}">{% endif %}<img src="{% static 'podcast/img/itunes-badge.min.svg' %}" alt="{% trans 'Get it on iTunes' %}">{% if episode.show.itunes %}</a>{% endif %}</p>
<p><a href="{{ episode.show.get_absolute_feed_url }}">{% trans 'RSS' %}</a></p>

{% if episode.get_previous or episode.get_next %}
<ul>
    {% if episode.get_next %}
    <li><a href="{{ episode.get_next.get_absolute_url }}">&larr; {% trans 'Episode' %} {{ episode.index_next }}: {{ episode.get_next.title }}</a></li>
    {% endif %}
    {% if episode.get_previous %}
    <li><a href="{{ episode.get_previous.get_absolute_url }}">{% trans 'Episode' %} {{ episode.index_previous }}: {{ episode.get_previous.title }} &rarr;</a></li>
    {% endif %}
</ul>
{% endif %}
</div>
</div>
{% endblock %}
{% block afterjquery %}
<script src="{% static 'assets/js/bootstrap-player.js' %}"></script>
{% endblock %}
