{% extends "base.html" %}

{% load i18n staticfiles %}
{% load static %}


{% block title %}{{show.title}}{% endblock %}
{% block addtohead %}
<link href="{% static 'assets/css/buttons.css' %}" rel="stylesheet" />
<link href="{% static 'assets/css/style-ext.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="row color-white top2">
<div class="col-md-10 col-md-offset-1" >

	<div class="row">
		<div class="col-md-3">
			<h3><a href="{{ show.get_absolute_url }}">{{show.title}}</a></h3>
			<a href="{{ show.get_image_url }}"><img src="{{ show.get_image_url }}" alt="{{ show.title }} artwork" width="300"></a>
			<p>{{show.description|safe}}</p>
			<ul class="list-clean big">
			    <li class="">
			        {% if show.itunes %}
			        <a href="{{ show.itunes }}">{% endif %}<img src="{% static 'podcast/img/itunes-badge.min.svg' %}" alt="{% trans 'Get it on iTunes' %}">{% if show.itunes %}</a>{% endif %}</li>
			<li class=""><a href="{{ show.get_absolute_feed_url }}">{% trans 'RSS' %}</a></li>
			<li class=""><a href='https://playmusic.app.goo.gl/?ibi=com.google.PlayMusic&amp;isi=691797987&amp;ius=googleplaymusic&amp;link=https://play.google.com/music/m/Ikkhqoxzoxzbj7aiw275wwru3uu?t%3DLearning_as_We_Grow%26pcampaignid%3DMKT-na-all-co-pr-mu-pod-16' rel='nofollow'><img width='125px' alt='Listen on Google Play Music' src='https://play.google.com/intl/en_us/badges-music/images/badges/en_badge_web_music.png'/></a></li>
			</ul>
		</div>
		<div class="col-md-7">
	<table class="table">
		<thead>
		<tr><th>Title</th><th>Date</th><th></th></tr>
	</thead>
	<tbody>
{% for e in eps %}
<tr>
	<td>{{e.title}}</td>
	<td>{{e.pub_date}}</td>
	<td>
		<div class="btn-group" role="group" aria-label="Listening options">
		<!-- <a class="btn btn-sm btn-success" href="#"><i class="fa fa-volume-up" aria-hidden="true"></i> Listen</a>-->
		<a class="btn btn-sm btn-success" href="{{ e.enclosure.file.url }}" download><i class="fa fa-cloud-download" aria-hidden="true"></i> Download</a>
		<a class="btn btn-sm btn-success" href="{{ e.get_absolute_url }}"><i class="fa fa-caret-square-o-down" aria-hidden="true"></i> Detail</a>
		</div>
</td>
</tr>
{% endfor %}
</tbody>
</table>
</div></div>
</div>
</div>
{% endblock %}
