{% extends "base.html" %}

{% load i18n staticfiles podcast_tags %}


{% block title %}{{ show.title }} &#183; {{ block.super }}{% endblock %}
{% block addtohead %}
<link href="{% static 'assets/css/style-ext.css' %}" rel="stylesheet" />
<link href="{% static 'assets/css/buttons.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="row color-white bottom2">
<div class="col-md-10 col-md-offset-1" >
{% if not podcast_singular %}
    <ul>
        <li><a href="{% url 'podcast:show_list' %}">{% trans 'Podcasts' %}</a></li>
    </ul>
{% endif %}

<h1>{{ show.title }}</h1>

{% blocktrans count episode_count=page_obj.paginator.count %}
<p>{{ episode_count }} episode</p>
{% plural %}
<p>{{ episode_count }} episodes</p>
{% endblocktrans %}

{% if episode_list %}
<a class="btn btn-purple" href="{% url 'episode_list' show.pk %}">Episodes</a>
{% endif %}
</div>
</div>
<div class="row color-purple">
    <div class="col-md-10 col-md-offset-1">
<h2>{% trans 'Artwork' %}</h2>
<p><a href="{{ show.get_image_url }}"><img src="{{ show.get_image_url }}" alt="{{ episode.title }} artwork" width="300"></a></p>
</div></div>
<div class="row color-light">
<div class="col-md-10 col-md-offset-1" >
{% if show.description %}
<h2>{% trans 'Description' %}</h2>
<p>{{ show.description }}</p>
{% endif %}

{% if show.categories %}
<h2>{% trans 'Categories' %}</h2>
<ul class="list-clean big">
    {% for key, value in show.get_categories_dict %}
    <li class="list-inline"><span class="label label-purple">{{key}}{% for sub in value %} | {{sub}}{% endfor %}</span>
    </li>
    {% endfor %}
</ul>
{% endif %}

<h2>{% trans 'Subscribe' %}</h2>
<ul class="list-clean big">
    <li class="list-inline">
        {% if show.itunes %}
        <a href="{{ show.itunes }}">{% endif %}<img src="{% static 'podcast/img/itunes-badge.min.svg' %}" alt="{% trans 'Get it on iTunes' %}">{% if show.itunes %}</a>{% endif %}</li>
<li class="list-inline"><a href="{{ show.get_absolute_feed_url }}">{% trans 'RSS' %}</a></li>
<li class="list-inline"><a href='https://playmusic.app.goo.gl/?ibi=com.google.PlayMusic&amp;isi=691797987&amp;ius=googleplaymusic&amp;link=https://play.google.com/music/m/Ikkhqoxzoxzbj7aiw275wwru3uu?t%3DLearning_as_We_Grow%26pcampaignid%3DMKT-na-all-co-pr-mu-pod-16' rel='nofollow'><img width='125px' alt='Listen on Google Play Music' src='https://play.google.com/intl/en_us/badges-music/images/badges/en_badge_web_music.png'/></a></li>
</ul>
</div>
</div>
{% endblock %}
