{% extends "base.html" %}

{% load i18n staticfiles podcast_tags %}


{% block title %}{{ show.title }} &#183; {{ block.super }}{% endblock %}
{% block addtohead %}
<link href="{% static 'assets/css/style-ext.css' %}" rel="stylesheet" />
<link href="{% static 'assets/css/buttons.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="row color-white bottom2">
<div class="col-md-10 col-md-offset-1" >

<h1>{{ show.title }}</h1>
</div>
</div>
<div class="row color-purple top2 bottom2">
    <div class="col-md-4 col-md-offset-1">
        <p><a href="{{ show.get_image_url }}"><img src="{{ show.get_image_url }}" alt="{{ episode.title }} artwork" width="300"></a></p>
    </div>
    <div class="col-md-6">
        <!-- <p>{{ show.description }}</p> -->
        <div class="row">
            <div class="col-md-12">
    {{show.description|safe}}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a class="btn btn-default pull-right" href="{% url 'episode_list' show.pk %}">Episodes</a>
    </div>
</div>
    </div>
</div>
<div class="row color-light">
<div class="col-md-10 col-md-offset-1" >
{% if show.categories %}
<h2>{% trans 'Categories' %}</h2>
<ul class="list-clean big">
    {% for key, value in show.get_categories_dict %}
    <li class="list-inline"><span class="label label-purple">{{key}}{% for sub in value %} | {{sub}}{% endfor %}</span>
    </li>
    {% endfor %}
</ul>
{% endif %}

<h2>{% trans 'Subscribe' %}</h2>
<ul class="list-clean big">
    <li class="list-inline">
        {% if show.itunes %}
        <a href="{{ show.itunes }}">{% endif %}<img src="{% static 'podcast/img/itunes-badge.min.svg' %}" alt="{% trans 'Get it on iTunes' %}">{% if show.itunes %}</a>{% endif %}</li>
<li class="list-inline"><a href="{{ show.get_absolute_feed_url }}">{% trans 'RSS' %}</a></li>
<li class="list-inline"><a href='https://playmusic.app.goo.gl/?ibi=com.google.PlayMusic&amp;isi=691797987&amp;ius=googleplaymusic&amp;link=https://play.google.com/music/m/Ikkhqoxzoxzbj7aiw275wwru3uu?t%3DLearning_as_We_Grow%26pcampaignid%3DMKT-na-all-co-pr-mu-pod-16' rel='nofollow'><img width='125px' alt='Listen on Google Play Music' src='https://play.google.com/intl/en_us/badges-music/images/badges/en_badge_web_music.png'/></a></li>
</ul>
</div>
</div>
{% endblock %}
