{% extends 'base.html' %}

		{% block content %}
        <div class="row text-center">
      <div class="col-md-12" >
          <h1 class="head-main"> <i class="fa fa-podcast fa-2x"></i> LEARNING AS WE GO</h1>
           <h2 class="head-sub-main"> A podcast</h2>


          </div>


            </div>
      </div>
    <!--End Header section  -->

     <!-- Navigation -->
      <nav class="navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">HOME </a>
            </div>
            <!-- Collect the nav links for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
					<li><a href="#about">ABOUT</a>
                    <li><a href="#listen">LISTEN</a>
                    </li>
                         <li><a href="#contact">CONTACT</a>
                    </li>
                                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
     <!--End Navigation -->
	<section class="color-white">
	</section>

    <!--About Section-->
    <section class="color-white " id="about"  >
   <div class="container" >

            <div class="row text-center" >
                <div class="col-md-8 col-md-offset-2 ">
                    <h2 style="padding-top:50px;">Learning as We Go Podcast</h2>
                    <h4>
                        <strong>
                      This is a podcast made by some kids. They had help.
                            </strong>
                    </h4>
                </div>

            </div>


      </div>
</section>
    <section class="color-light" id="listen"  >
   <div class="container" >

            <div class="row text-center" >
                <div class="col-md-8 col-md-offset-2 ">
                    <h2 style="padding-top:50px;">Listen</h2>
                    <h4>
                        <strong>
                      Nothing to listen to yet
                            </strong>
                    </h4>
                </div>

            </div>


      </div>
</section>
    <section class="color-white" id="contact">
   <div class="container" >

            <div class="row text-center" >
                <div class="col-md-8 col-md-offset-2 ">
                    <h2 style="padding-top:50px;">Contact</h2>
                        <div id="social-icon">
							<a href="#"><i class="fa fa-facebook fa-2x"></i></a>
							<a href="#"><i class="fa fa-twitter fa-2x"></i></a>
							<a href="#"><i class="fa fa-linkedin fa-2x"></i></a>
							<a href="#"><i class="fa fa-google-plus fa-2x"></i></a>
							<a href="#"><i class="fa fa-pinterest fa-2x"></i></a>
						</div>
                </div>

            </div>


      </div>
</section>
{% comment %}
       <section class=" color-light"  >
   <div class="container" >


        <div class="row text-center" >
                <div class="col-md-12">
                    <h2> Lorem ipsum dolor sit amet</h2>
                    <p>

                       Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                           Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                         Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                           Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    </p>
                </div>

            </div>
      </div>
</section>
    <!--End About Section-->



   <!-- WORK Flow Section -->
     <section class="color-white " id="work-sec"  >
   <div class="container" >

            <div class="row text-center" >
                <div class="col-md-8 col-md-offset-2 ">
                    <h2>Work Flow</h2>
                    <h4>
                        <strong>
                       Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                            </strong>
                    </h4>
                </div>

            </div>

        <div class="row text-center g-pad-bottom" >

                      <div class="col-md-4">

              <div class="work-div">

                  <i class="fa fa-desktop fa-5x"></i>


                  <h3>Initial Step #1 </h3>


              </div>

            </div>

    <div class="col-md-4 ">

              <div class="work-div">

                  <i class="fa fa-share fa-5x"></i>



              </div>

            </div>
            <div class="col-md-4 ">

              <div class="work-div">

                  <i class="fa fa-flask fa-5x"></i>


                  <h3>Final Step #2</h3>


              </div>

            </div>



            </div>
      </div>
</section>
    <!--End WORK Flow  Section -->
    <!-- Contact Section -->
     <section class="color-light " id="contact-sec"  >
   <div class="container" >
            <div class="row text-center" >
                <div class="col-md-8 col-md-offset-2 ">
                    <h2>Locate Us here</h2>
                    <h4>
                        <strong>
                       Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                            </strong>
                    </h4>
                </div>

            </div>

        <div class="row" >
            <div class="col-md-5 contact-cls" >
                <h3>Physical Location</h3>
					<div >
						<span><i class="fa fa-home"> </i> Address: 123/56, Your City, USA </span>
                        <br />
						<span><i class="fa fa-phone"> </i> Phone: 82-230-567-899</span>


					</div>


            </div>
                <div class="col-md-7">

                        <form>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" required="required" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" required="required" placeholder="Email address">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <textarea name="message" id="message" required="required" class="form-control" rows="3"  placeholder="Message"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-default">Submit Request</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    <br />
                    <div id="social-icon">
						<a href="#"><i class="fa fa-facebook fa-2x"></i></a>
						<a href="#"><i class="fa fa-twitter fa-2x"></i></a>
						<a href="#"><i class="fa fa-linkedin fa-2x"></i></a>
						<a href="#"><i class="fa fa-google-plus fa-2x"></i></a>
						<a href="#"><i class="fa fa-pinterest fa-2x"></i></a>
					</div>
                </div>

            </div>
      </div>
</section>
<!--End Contact Section -->
{% endcomment %}
    <!--footer Section -->
     <div  class="for-full-back "  id="footer" >


         2017 lawgopodcast.com | All Rights Reserved

            </div>
{% endblock %}
