ul.list-clean{
	list-style-type: none;
	padding: 0px;
}
li.list-inline{
	display: inline;
	padding: 1em;
}
.big{
	font-size: 1.5em;
}
.label-purple{
	background-color: #9B60DB
}
.top2{
	padding-top:2em;
}
.bottom2{
	padding-bottom:2em;
}
